<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Backbone Lecture 27</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/stylesRB.css">

    </head>
    <body>
        <div id="header">
            <h2>Backbone Vehicle application</h2>
        </div>
        <div id="vehicles">

        </div> <!-- /container -->        
        <div id="footer">
            <p>&copy; Fonzie MacGyver 2015</p>
        </div>
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/lib/modernizr.js"></script>
        <script id="vehicleTemplate" type="text/html">
            <h1><%= vType %></h1>
            <h3>[color: <%= color %>], [year: <%= year %>]</h3>
            <h4>Miles drives: <%= miles %></h4>
                <button>Schedule Test Drive</button>
                <% if (miles < 100000) { %>
                    <span class="popular">Newer!</span>
                    <% } %>
        </script>
        <script src="js/vehicles.js"></script>
    </body>
</html>